body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0e3ca;
    color: #333;
}

.header {
    background-color: #f0e3ca;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header-icons img {
    width: 30px;
    margin-left: 15px;
}

.points {
    background-color: #d7b89b;
    text-align: center;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    margin: 20px;
    position: relative;
}

.points h1 {
    margin: 0;
    font-size: 24px;
}

.points p {
    font-size: 30px;
    font-weight: bold;
}

.points button {
    background-color: #85664d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.room-types {
    text-align: center;
    margin: 30px 0;
}

.room-types h2 {
    background-color: #87292f;
    color: #fff;
    padding: 6px;
}

.room-container {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.room {
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
}

.room img {
    width: 100%;
    border-radius: 10px;
}

.room p {
    font-weight: bold;
    margin: 10px 0 0;
}

.footer {
    background-color: #d7b89b;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer .logo-footer img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.footer .description {
    flex: 1;
    text-align: left;
}

.footer .social-media, .footer .contact {
    flex: 1;
}

.footer .social-media p, .footer .contact p {
    margin: 5px 0;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: #f0e3ca;
    font-size: 12px;
    color: #777;
}